.image-overlap {
	background-image: linear-gradient(to bottom, transparent 50%, #fcd21c 50%);
  padding: 60px;
}

.image-overlap .gatsby-image-wrapper {
  width: 80%;
	max-width: 800px;
	border: 20px solid #fff;
	box-shadow: 0 0 50px grey;
  margin: auto;
}

