header > div {
	float: left;
	width: 50%;
	text-align: left !important;
	min-height: 80vh;
	box-sizing: border-box;
}

header > div:first-child p:first-child {
  margin-top: 5vh;
  letter-spacing: 3px;
  padding: 0;
}

header h1 {
  margin: 0;
}

header > div:nth-child(2) {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 450px -100px;
	background-attachment: fixed;
}

@media only screen and (max-width: 992px) {
  header h1 {
    font-size: 54px;
  }

	header > div:first-child {
		width: 100%;
	}

	header > div:nth-child(2) {
		display: none;
	}
}
