body {
	color: #666;
	background-color: #fff;
	font-family: "Open Sans",Arial,sans-serif;
	font-size: 14px;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.7em;
}

a, abbr, acronym, address, applet, b, big, blockquote, body, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h2, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, tt, u, ul, var {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: 0 0;
	font-size: 100%;
	vertical-align: baseline;
	-ms-text-size-adjust: 100%;
}

a {
	color: #000;
}

p {
  line-height: 1.8;
	padding-bottom: 1em;
	font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
	padding-bottom: 10px;
	color: #333;
	font-weight: 500;
	line-height: 1em;
}

h1 {
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 74px;
  color: #f7f7f7!important;
  line-height: 1.1em;
}

h1 > span {
  display: block;
  color: #333;
}

h2 {
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 42px;
  line-height: 1.3em;
}

section {
  opacity: 0;
  transform: translateY(100px);
  transition: 1000ms transform, 1000ms opacity;
}

section.active {
  opacity: 1;
  transform: translateY(0);
}

section p {
  max-width: 700px;
  margin: auto;
}

section, footer, header div:first-child {
	overflow: auto;
	padding-top: 10%;
	padding-right: 8%;
	padding-bottom: 10%;
	padding-left: 8%;
	text-align: center;
}

.primary-block {
	background: #fcd21d;
  color: #353740!important;
}

.flex {
	display: flex;
	justify-content: space-between;
  flex-wrap: wrap;
}

.flex > * {
  flex: 1 0 200px;
}

.flex img {
  width: 300px;
}

.pt-0 {
	padding-top: 0;
}

.pb-0 {
	padding-bottom: 0;
}

@media only screen and (max-width: 992px) {
  .flex {
    justify-content: space-around;
  }
}
