.why-we-are-different {
  text-align: left;
}

.why-we-are-different .flex {
  align-items: center;
}

.why-we-are-different .flex > div {
  margin: 2em;
}

.why-we-are-different .flex img {
  width: 100%;
  box-shadow: 0 0 50px grey;
}

@media only screen and (max-width: 992px) {
  .why-we-are-different {
    text-align: center;
  }
}
